<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lotteries!</title>
    <script data-main="Scripts/main.js" src="Scripts/require.js"></script>
    <link type="text/css" href="~/Content/bootstrap.css" rel="stylesheet" />
    <link type="text/css" href="~/Content/app/main.css" rel="stylesheet" />
</head>
<body class="container-fluid">
    <header>
        <nav class="navbar navbar-default">
            <ul class="nav navbar-nav" id="navigations">
                <li class="active"><a href="#/lotteries">Lotteries</a></li>
                <li class="active"><a href="#/prizemap">Prize Map</a></li>
                <li class="active"><a href="#/processsources">Process Sources</a></li>
                <li class="active"><a href="#/processstatuses">Process Statuses</a></li>
                <li class="active"><a href="#/processresults">Process Results</a></li>
            </ul>
        </nav>
    </header>
    <div id="content" class="container-fluid">

    </div>
</body>
</html>
