<article class="row vdivide" data-bind="visible: lotteries().length">
    <article class="col-lg-3">
        <h4 class="text-uppercase text-center">Select Lotteries</h4>
        <table class="table table-condensed table-hover">
            <tbody data-bind="foreach: lotteries">
                <tr class="table-striped" data-bind="click: $parent.selectLottery, style: { backgroundColor: $parent.selectedLottery().name == $data.name ? '#f5f5f5' : '' }">
                    <td data-bind="text: name"></td>
                </tr>
            </tbody>
        </table>
    </article>
    <article class="col-lg-5">
        <h4 class="text-uppercase text-center">Manage Prize Map for: <span data-bind="text: selectedLottery().name"></span></h4>
        <div class="text-center">
            <button data-bind="click: add" class="btn btn-default">Add</button>
            <button data-bind="click: save" class="btn btn-default">Save</button>
        </div>
        <div>
            <table class="table table-condensed table-hover text-center" data-bind="visible: prizeMap().length">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Id</th>
                        <th>Size</th>
                        <th>Prize</th>
                        <th>Next Prize</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: prizeMap">
                    <tr class="table-striped" data-bind="click: $parent.selectPrizeMap, style: { backgroundColor: $parent.selectedPrizeMap().size == $data.size && $parent.selectedPrizeMap().prize == $data.prize ? '#f5f5f5' : '' }">
                        <td><span class="glyphicon glyphicon-remove" data-bind="click: $parent.remove"></span></td>
                        <td data-bind="text: id"></td>
                        <td data-bind="text: size"></td>
                        <td data-bind="text: prize"></td>
                        <td data-bind="text: displayNextLotteryPrize"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </article>
    <article class="col-lg-3" data-bind="visible: prizeMap().length, with: selectedPrizeMap">
        <h4 class="text-uppercase text-center">Edit Selected Prize Map</h4>
        <div class="input-group">
            <span class="input-group-addon">Size</span>
            <input type="number" class="form-control" data-bind="value: size, valueUpdate: 'input'">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Prize</span>
            <input type="number" class="form-control" data-bind="value: prize, valueUpdate: 'input'">
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Next Prize</span>
            <select class="form-control" data-bind="options: $parent.availablePrizes, optionsValue: 'id', optionsText: 'caption', optionsCaption: '', value: nextLotteryPrizeId"> </select>
        </div>
    </article>
</article>
